*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-image: url(https://i.pinimg.com/originals/2f/88/a9/2f88a9427474343f7275e3b8f6fcc2e1.jpg);
}
.form{
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.685);
    height: 330px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.form input{
    margin: 5px;
    width: 250px;
}
.page{
    margin: 40px;
    border: solid 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width:1280;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.685);
    font-size: 17px;
    overflow:hidden;
}

.imagem img{
    height: 100px;
    width: 100px;
    margin: 25px;
    border-radius: 40px;
    overflow: hidden;
}

.texts{
    width: 650px;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    padding-left: 20px;
}

.texts p{
    margin: 5px;
    font-weight: bold;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: inherit;
    width: 480px;
    margin-left: 100px;
}

.buttons button{
    width: auto;
}

.number{
    width: 40px;
}